{{>header}}

<body>

    {{>cabecalho1}}
    {{>content_slider}}
    
    <!-- Page Content -->
    <div class="container">

        <hr class="shadow-separator">

        <div class="row">
            <div class="col-sm-4">
                <h2>O que nós fazemos</h2>
                <p>Atuando no ramo de tecnologia, a excellence atende o mercado corporativo e doméstico com uma linha completa de equipamentos e serviços.
Com profissionais qualificados a excellence atende os segmentos de informática, segurança comercial e residencial, Certificação Digital, etc.</p>
                <p>Acesse nossa sessão de produtos e serviços e saiba mais sobre como podêmos atendê-lo.</p>
                <p>
                    <a class="btn btn-default btn-lg" href="#">Mais Informações sobre Produtos e Serviços &raquo;</a>
                </p>
            </div>
            <div class="col-sm-4">
                <h2>Loja Santa Fé</h2>
                <address>
                    <strong>Excellence Tecnologia</strong>
                    <br>Rua Santa Fé, 173s, Centro,
                    <br>Lucas do Rio Verde - MT, Cep 78.455-000
                    <br>
                </address>
                <address>
                    <abbr title="Telefone">Fone:</abbr> (65) 3549-2188 
                    <br>
                    <abbr title="E-mail">E-mail:</abbr> <a href="mailto:{{email}}">{{email}}r</a>
                </address>
            </div>
            <div class="col-sm-4">
                <h2>Loja Nova Mutum</h2>
                <address>
                    <strong>Excellence Tecnologia</strong>
                    <br>Rua dos canários, 89w,
                    <br>Centro, Nova Mutum - MT, Cep 78.450-000
                    <br>
                </address>
                <address>
                    <abbr title="Telefone">Fone:</abbr> (65) 3308-3000
                    <br>
                    <abbr title="E-mail">E-mail:</abbr> <a href="mailto:{{email}}">{{email}}</a>
                </address>
            </div>
        </div>
        <!-- /.row -->

        <hr class="shadow-separator">

        <div class="row">
            <div class="col-sm-4 col-md-4">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
                <h2>Marketing Box #1</h2>
                <p>These marketing boxes are a great place to put some information. These can contain summaries of what the company does, promotional information, or anything else that is relevant to the company. These will usually be below-the-fold.</p>
            </div>
            <div class="col-sm-4 col-md-4">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
                <h2>Marketing Box #2</h2>
                <p>The images are set to be circular and responsive. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            </div>
            <div class="col-sm-4 col-md-4">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
                <h2>Marketing Box #3</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            </div>
        </div>
        <!-- /.row -->
       
        <hr class="shadow-separator">

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Excellence Tecnologia 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->
	
	
{{>footer}}